main {
    padding: 30px 27px;
}

ion-button {
    --background: black;
    --border-radius: 0;
    margin: 0 5px;
}

table {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

thead {
    border-bottom: 1px solid #CFCFCF;
}
  
th {
    color: #121212B3;
    font-size: 10px;
    padding-bottom: 18px;
    opacity: 0.85;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 12px;
}

td {
    width: 1%;
    text-align: center;
    padding: 0.7rem 0;
}

td p {
    margin: 0;
}