<ion-menu side="start" menuId="first" contentId="main-content" type="overlay" class="fullscreen-menu">
  <ion-content>
    <nav class="menu-navigation">
      <ul class="list-menu" id="mainMenu">
        <li *ngFor="let category of categories">
          <ng-container *ngIf="category.brands.length === 1; else submenuBtn">
            <a [href]="'/category/' + category.name" class="menu-item list-menu-item">{{ category.name }}</a>
          </ng-container>
          <ng-template #submenuBtn>
            <a class="menu-item list-menu-item menu-item--with-icon-end" (click)="showSubmenu(category)">{{ category.name }} <ion-icon name="arrow-forward-outline"></ion-icon></a>
          </ng-template>
        </li>

        <li *ngIf="isAdmin">
          <a class="menu-item list-menu-item menu-item--with-icon-end" (click)="showAdminSubmenu()">
            Admin <ion-icon name="settings-outline"></ion-icon>
          </a>
        </li>
      </ul>      
      
      <ul class="list-menu" id="submenu" hidden>
        <li><a class="menu-item list-menu-item" (click)="showMainMenu()"><ion-icon name="arrow-back-outline"></ion-icon> {{ currentCategoryName }}</a></li>
        <li *ngFor="let brand of currentSubmenuBrands"><a [href]="'/collections/' + formatSlug(brand.name)" class="menu-item list-menu-item">{{ brand.name }}</a></li>
      </ul>

      <ul class="list-menu" id="adminSubmenu" hidden>
        <li><a class="menu-item list-menu-item" (click)="showMainMenu()"><ion-icon name="arrow-back-outline"></ion-icon> {{ currentAdminTitle }}</a></li>
        <li><a class="menu-item list-menu-item">Gestion de Productos</a></li>
        <li><a class="menu-item list-menu-item">Gestion de Marcas</a></li>
        <li><a class="menu-item list-menu-item">Gestion de Categorias</a></li>
        <li><a class="menu-item list-menu-item">Usuarios</a></li>
        <li><a class="menu-item list-menu-item">Compras</a></li>
      </ul>
      
    </nav>


    <div class="menu-links">
      <a href="/account/login" class="menu-account"><ion-icon name="person-outline" class="icon icon-account"></ion-icon>Iniciar sesion</a>
      
      <ul class="list list-social list-unstyled">
        <li class="item">
          <a href="https://twitter.com/#" class="list-social-link">
            <ion-icon name="logo-twitter" class="icon"></ion-icon>
            <span class="visually-hidden">Twitter</span>
          </a>
        </li>
        <li class="list-social-item">
          <a href="https://www.instagram.com/#" class="list-social-link">
            <ion-icon name="logo-instagram" class="icon"></ion-icon>
            <span class="visually-hidden">Instagram</span>
          </a>
        </li>
        <li class="list-social-item">
          <a href="https://www.tiktok.com/@#" class="list-social-link">
            <ion-icon name="logo-tiktok" class="icon"></ion-icon>
            <span class="visually-hidden">TikTok</span>
          </a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <a href="/"><img src="/assets/logo.png" width="200" height="60" alt="Drop-Market logo"></a>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" id="popover"><ion-icon slot="icon-only" name="search-outline"></ion-icon></ion-button>
      <ion-button fill="clear" id="popover"><ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>