<app-header></app-header>

<ion-content id="main-content" [fullscreen]="true">
<main>
  <div class="top-bar">
    <ion-button fill="clear" size="small" class="filter-button"><ion-icon name="funnel-outline" slot="start"></ion-icon>Filtrar y ordenar</ion-button>
    <div class="product-count">{{ products.length }} productos</div>
  </div>
  
  <div class="products">
    <div *ngFor="let product of products">
      <ion-card>
        <img [src]="product.image || 'https://drop-shop.mx/cdn/shop/files/s-l1600_60d41edf-04d8-4a26-883d-b003cb9e0490.webp'" />
        <ion-card-content>
          <h2>{{ product.name }}</h2>
          <p>$ {{ product.price }} MXN</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</main>

<app-footer></app-footer>
</ion-content>