<app-header></app-header>

<ion-content id="main-content" [fullscreen]="true">
<main>
  <div class="top-bar">
    <ion-button fill="clear" size="small" class="filter-button"><ion-icon name="funnel-outline" slot="start"></ion-icon>Filtrar y ordenar</ion-button>
    <div class="product-count">{{ products.length }} productos</div>
  </div>
  
  <div class="products">
    <div *ngFor="let product of products">
      <ion-card (click)="goToProductDetail(product.id)" style="cursor: pointer;">
        <img src="http://127.0.0.1:8000/{{ product.image }}" />
        <ion-card-content>
          <h2>{{ product.name }}</h2>
          <p>$ {{ product.price }} MXN</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</main>

<app-footer></app-footer>
</ion-content>