<app-header></app-header>

<ion-content id="main-content" [fullscreen]="true">
  <div class="login-container">
    <h1>Inicio de sesion</h1>
    
    <div id="alerts">
      <h2><ion-icon name="alert-circle"></ion-icon> Por favor, ajusta lo siguiente:</h2>
      <ul>
        <li id="incorrect-data">Email o contrasena incorrectos.</li>
        <li id="email-missing">Email incompleto.</li>
        <li id="password-missing">Contrasena incompleto.</li>
      </ul>
    </div>

    <form (submit)="login(); $event.preventDefault();">
      <ion-item><ion-input [(ngModel)]="email" name="email" type="email" placeholder="Email"></ion-input></ion-item>
      <ion-item><ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contrasena" style="margin-bottom: 10px;"></ion-input></ion-item>
      <a id="forgot-password">Olvidaste tu contrasena?</a>
    
      <div id="form-footer">
        <ion-button type="submit">Iniciar sesion</ion-button>
        <a>Crear cuenta</a>
      </div>
    </form>
  </div>


<app-footer></app-footer>
</ion-content>