<app-header></app-header>

<ion-content id="main-content" [fullscreen]="true">
  <div class="login-container">
    <h1>Inicio de sesion</h1>
    
    <form>
      <ion-input type="email" autocapitalize="off" placeholder="Correo electronico"></ion-input>
      <ion-input type="password" autocapitalize="off" placeholder="Contrasena"></ion-input>
      <a>Olvidaste tu contrasena?</a>

      <ion-button type="submit">Iniciar sesion</ion-button>
      <a>Crear cuenta</a>
    </form>
  </div>


<app-footer></app-footer>
</ion-content>