h1 {
  font-size: 30px;
}

.login-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form a {
  display: block;
  margin: 0 auto;
  width: fit-content;
  color: black;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

form ion-button {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background: black;
  --background: black;
  --box-shadow: none;
  --border-radius: 0;
  margin: 4rem 0 1.5rem;
  text-transform: none;
  letter-spacing: 0.1rem;
  padding: 0 30px;
  min-width: 122px;  /* 120px + 2px */
  min-height: 47px;  /* 45px + 2px */
}
