<app-header></app-header>

<ion-content id="main-content" [fullscreen]="true">
  <main>
    <h1 style="text-align: center;">Restablecer tu <br> contraseña</h1>
    <p id="text">Si el email coincide con alguno en la db se cambiará la contraseña</p>

    <form (submit)="forgotPassword(); $event.preventDefault();">
      <ion-item class="custom-input" [class.filled]="email.length > 0">
        <ion-input [(ngModel)]="email" name="email" type="email" required color="dark"></ion-input>
        <label class="floating-label">Email</label>
      </ion-item>

      <ion-item class="custom-input" [class.filled]="password.length > 0">
        <ion-input [(ngModel)]="password" name="password" type="password" required color="dark"></ion-input>
        <label class="floating-label">Nueva contraseña</label>
      </ion-item>

      <div id="form-footer">
        <ion-button type="submit">Cambiar</ion-button>
        <a href="/account/login">Iniciar sesión</a>
      </div>
    </form>
  </main>

  <app-footer></app-footer>
</ion-content>
