/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

/**
 /* Global styles
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Menu (& header)
ion-header ion-toolbar {
  --background: white;
}

.fullscreen-menu {
  width: 100vw !important;
  height: calc(100vh - 56px) !important; // 56px es la altura del header
  top: 56px !important;
  left: 0 !important;
  --width: 100vw;
  --height: calc(100vh - 56px);
  z-index: 9999;
}

.menu-navigation {
  padding: 30px 0;
}

.list-menu {
  font-family: Inter !important;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 1.1rem 30px;
  text-decoration: none;
  font-size: 1.8rem;
}

.list-menu-item {
  font-size: 18px !important;
  color: black;
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.menu-links {
  padding: 2rem 3rem;
  background-color: rgba(18,18,18, 0.03);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-account {
  font-size: 18px;
  line-height: 23.4px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 14px;
  color: rgb(18,18,18);
  margin-bottom: 0.1rem;
}

.menu-account .icon-account {
  height: 32px;
  width: 32px;
  // margin-right: 10px;
}

.icon-account {
  height: 20px !important;
  width: 20px !important;
  margin-right: 10px;
  vertical-align: middle;
}

.menu-links .list-social {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  margin-left: 0;
  padding-left: 0 !important;
  margin-top: 0.5rem;
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: 0;
}

.menu-drawer .list-social-link {
  padding: 1.1rem;
}

.list-social-link {
  align-items: center;
  display: flex;
  padding: 0.5rem;
  color: rgb(18,18,18);
}

.list-social-item .icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

// Social media list
.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.list-social_item a {
  padding: 11px;
  color: white;
  font-size: 24px;
}