/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ion-button.button-outline {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1rem;
  text-transform: none;
  color: black;

  background: transparent;
  --background: transparent;

  border: 2.5px solid black;
  --border-style: none;
  --box-shadow: none;
  --border-radius: 0;

  padding: 0.4em 1em;
  min-width: auto;
  min-height: auto;
  width: auto;
}
ion-button.button-outline:hover {
  border-width: 3px;
}

.custom-input {
  position: relative;
}
.custom-input ion-input {
  --background: transparent;
  --border: none;
  --box-shadow: none;
  --padding-start: 15px !important;
  --padding-end: 15px !important;
  --placeholder-color: #4B4B4B;
  --color: #000;
  border: 1px solid #7C7C7C;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  width: 100%;
}
.custom-input ion-input:focus-within {
  border-width: 2px;
  border-color: black;
}

/* Label base */
.custom-input label.floating-label {
  font-size: 16px;
  left: 20px;
  top: 10px;
  margin-bottom: 0;
  pointer-events: none;
  position: absolute;
  transition: top 0.1s ease, font-size 0.1s ease;
  color: rgba(18,18,18, 0.75);
  letter-spacing: 1px;
  line-height: 1.5;
}

/* When ion-item (input-wrapper) is focus */
/* When is focus or not it's empty (class filled) */
.custom-input:focus-within label.floating-label,
.custom-input.filled label.floating-label {
  top: 5px;
  left: 16px;
  font-size: 12px;
}
/* Whhen not it's focus and is empty (without clase filled) */
.custom-input label.floating-label {
  top: 10px;
  left: 20px;
  font-size: 16px;
}

.custom-input ion-input {
  --padding-top: 13px;
}